<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>name</key>
			<string>阿A</string>
			<key>phone</key>
			<string>123456</string>
			<key>email</key>
			<string>fghjkl@fghj.com</string>
			<key>addr</key>
			<string>dfghjknbfdfghj</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>name</key>
			<string>bibi</string>
			<key>phone</key>
			<string>98765</string>
			<key>email</key>
			<string>sdhfdsf@zdsk.com</string>
			<key>addr</key>
			<string>dmdmdm</string>
		</dict>
		<dict>
			<key>name</key>
			<string>bbb</string>
			<key>phone</key>
			<string>3444442323</string>
			<key>email</key>
			<string>dfdscaad@sdv.com</string>
			<key>addr</key>
			<string>kdsmkasdasd</string>
		</dict>
	</array>
	<key>C</key>
	<array/>
	<key>D</key>
	<array/>
	<key>E</key>
	<array/>
	<key>F</key>
	<array/>
	<key>G</key>
	<array/>
	<key>H</key>
	<array/>
	<key>I</key>
	<array/>
	<key>J</key>
	<array/>
	<key>K</key>
	<array/>
	<key>L</key>
	<array/>
	<key>M</key>
	<array/>
	<key>N</key>
	<array/>
	<key>O</key>
	<array/>
	<key>P</key>
	<array/>
	<key>Q</key>
	<array/>
	<key>R</key>
	<array/>
	<key>S</key>
	<array/>
	<key>T</key>
	<array/>
	<key>U</key>
	<array/>
	<key>V</key>
	<array/>
	<key>W</key>
	<array/>
	<key>X</key>
	<array/>
	<key>Y</key>
	<array/>
	<key>Z</key>
	<array/>
</dict>
</plist>
