<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>name</key>
			<string>aa</string>
			<key>phone</key>
			<string>234567</string>
			<key>email</key>
			<string>fghj</string>
			<key>addr</key>
			<string>fghdsfgh</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>name</key>
			<string>bb</string>
			<key>phone</key>
			<string>2345678987654</string>
			<key>email</key>
			<string>fsdaghjg</string>
			<key>addr</key>
			<string>dfsabg</string>
		</dict>
	</array>
	<key>C</key>
	<array/>
</dict>
</plist>
