<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>name</key>
			<string>AA</string>
			<key>phone</key>
			<string>234567</string>
			<key>email</key>
			<string>fghj@qq.com</string>
			<key>addr</key>
			<string>xx路xx号</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>name</key>
			<string>BB</string>
			<key>phone</key>
			<string>2345678987654</string>
			<key>email</key>
			<string>fsdaghjg@dffdfs.com</string>
			<key>addr</key>
			<string>xx St.</string>
		</dict>
	</array>
	<key>C</key>
	<array/>
</dict>
</plist>
